html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input:focus-visible,
input:hover {
  outline: none;
}

#searchSection {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgb(248, 248, 248);
  border-bottom: 3px rgb(182, 182, 182) solid;
}

.searchBar {
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 3px rgb(182, 182, 182) solid;
  width: 250px;
  height: 50px;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}

.searchBar::placeholder {
  color: rgb(189, 189, 189);
}

#listOfNotes {
  width: 100%;
  display: flex;
  padding: 10px;
  background-color: transparent;
  border-radius: 15px;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.note h1 {
  font-size: 20px;
  padding: 0 10px 10px 0;
}

.note {
  border: 3px rgb(182, 182, 182) solid;
  min-width: 200px;
  min-height: 200px;
  max-width: 1200px;
  border-radius: 15px;
  padding: 5px 0 0 5px;
  background-color: #ffffff;
  margin: 0 20px 0 20px;
  font-size: 20px;
  position: relative;
}

.noteOff {
  position: absolute;
  right: 4px;
  bottom: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: unset;
}

.noteOff svg {
  transform: rotateZ(45deg);
  width: 25px;
  height: 25px;
  fill: rgb(206, 0, 0);
}

.noteOff:hover svg {
  fill: rgb(255, 0, 0);
}

#add {
  width: 75px;
  height: 75px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 25px;
  border: 3px rgb(182, 182, 182) solid;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#add svg {
  width: 80%;
  height: 80%;
  transition: fill 0.3s, transform 0.7s;
}

#add:hover {
  scale: 1.2;
}

#add:hover svg {
  fill: rgb(109, 109, 109);
  transform: rotateZ(360deg);
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.568);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#modal {
  width: 85%;
  height: 80%;
  background-color: rgb(182, 182, 182);
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  position: relative;
  max-width: 1200px;
}

#modal textarea {
  width: 80%;
  height: 70%;
  border: unset;
  padding: 10px 0 0 10px;
  border-radius: 15px;
  margin-top: 50px;
  font-size: 25px;
}

#modal textarea:focus {
  outline: unset;
}

#modal button svg {
  width: 50px;
  height: 50px;
}

#addToList {
  width: 75px;
  height: 75px;
  font-size: 25px;
  border: 3px rgb(182, 182, 182) solid;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#addToList svg {
  width: 80%;
  height: 80%;
  transition: fill 0.3s, transform 0.7s;
}

#addToList:hover {
  scale: 1.2;
}

#addToList:hover svg {
  fill: rgb(109, 109, 109);
  transform: rotateZ(360deg);
}

#modalOff {
  position: absolute;
  top: 20px;
  right: 20px;
  transform: rotateZ(45deg);
  border: unset;
  background-color: transparent;
  cursor: pointer;
  transition: fill 0.3s;
}

#modalOff:hover {
  fill: rgb(109, 109, 109);
}

.hidden {
  display: none !important;
}

.notify {
  padding: 10px;
  border: 3px rgb(182, 182, 182) solid;
  border-radius: 15px;
  position: absolute;
  margin: 10px 10px 0 0;
  background-color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
